services:
  blog-project-client:
    container_name: blog-project-client
    image: tientrandevops/blog-project-client:latest
    restart: always
    networks:
      - blog-felix-networks
    ports:
      - 3000:80
    
  blog-project-api:
    container_name: blog-project-api
    image: tientrandevops/blog-project-server:latest
    restart: always
    environment:
      ConnectionStrings__DB: Server=${DB_HOST};uid=${DB_USERNAME};pwd=${DB_PASSWORD};database=${DB_NAME};TrustServerCertificate=True
      ASPNETCORE_URLS: http://+:80
    ports:
      - 5000:80
    networks:
      - blog-felix-networks

networks:
  blog-felix-networks:
     name: blog_felix_networks
     external: true