name: Build and Deploy to AWS EC2

on:
  push:
    branches:
      - main
  workflow_dispatch: 

jobs:
  build-image:
    runs-on: ubuntu-latest'
    strategy:
      matrix:
        service: [
          blog-project-api,
          blog-project-client
        ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: DockerHub Login
        uses: docker/login-action@v3.1.0
        with:
            username: ${{secrets.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_PASSWORD}}
      - name: Push Docker image to Docker Hub
        env:
          GOOGLE_CLIENT_ID: ${{secrets.GOOGLE_CLIENT_ID}}
          API_ENDPOINT: ${{secrets.API_ENDPOINT}}
        run: docker compose build ${{matrix.service}} && docker compose push ${{matrix.service}}
  
  deploy-service:
    runs-on: arisa-server
    needs: [build-image]
    env:
      DB_NAME: ${{secrets.DB_NAME}}
      DB_USERNAME: ${{secrets.DB_USERNAME}}
      DB_PASSWORD: ${{secrets.DB_PASSWORD}}
      DB_HOST: ${{secrets.DB_HOST}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: DockerHub Login
        uses: docker/login-action@v3.1.0
        with:
            username: ${{secrets.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_PASSWORD}}
      - name: Down Server And Update Image
        run: docker compose -f docker-compose.prod.yaml -p blog-felix down --rmi all -v
        continue-on-error: true
      - name: Pull Image
        run: docker compose -f docker-compose.prod.yaml pull
      - name: Deploy
        run: docker compose -f docker-compose.prod.yaml -p blog-felix up -d
      
    
